{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="default-page-container">
    <h1 class="text-center default-page-header" id="about-header">About Us</h1>

    <!-- ABOUT US FEATURES -->
    <div class="container marketing">
        
        <!-- FIRST FEATURE -->
        <div class="row featurette">
            <div class="col-md-7 about-section-container">
                <h2 class="about-subheading fw-normal lh-1">Who We Are</h2>
                <p class="lead">
                    Our narrative isn't just about selling golf balls; it's about enriching lives, 
                    fostering connections, and fueling the fire of passion that burns within every golfer's heart. 
                    We are FairwayFinds, where every swing is a stroke of brilliance and every golfer finds their perfect moment on the course</p>
            </div>
            <div class="col-md-5">
                <img src="/media/augusta-national.webp" alt="Picture of a hole at Augusta national golf club " class="about-img img-fluid mx-auto">
            </div>
        </div>

        <hr class="about-separator">

        <!-- SECOND FEATURE -->
        <div class="row featurette">
            <div class="col-md-7 order-md-2 about-section-container">
                <h2 class="about-subheading fw-normal lh-1">What We Do</h2>
                <p class="lead">
                    In the vast landscape of the golfing world, there exists a beacon of excellence, 
                    a haven for enthusiasts, and a bastion of quality: FairwayFinds. 
                    We are not just sellers of golf balls; we're curators of the golfers 
                    journey, stewards of their pursuit of perfection on the green.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="/media/teeing-up.jpg" alt="Golfer putting Tee and ball into the ground" class="about-img img-fluid mx-auto">
            </div>
        </div>

        <hr class="about-separator">

        <!-- THIRD FEATURE -->
        <div class="row featurette">
            <div class="col-md-7 about-section-container">
                <h2 class="about-subheading fw-normal lh-1">Your Journey With Us</h2>
                <p class="lead">Embark on a journey with FairwayFinds, where every swing is 
                    a step closer to perfection and every golf ball tells a story of its own.
                    Your journey with us begins amidst the tranquil expanse of our digital pro shop, 
                    where the shelves are adorned with an impressive array of golf balls, 
                    each one meticulously selected to meet the needs of every golfer, 
                    from the casual weekend player to the seasoned professional.</p>
            </div>
            <div class="col-md-5">
                <img src="/media/teeoff.webp" alt="Golfer teeing off on a sunny day" class="about-img img-fluid mx-auto" id="about-last-img">
            </div>
        </div>
    </div>
    <div id="about-button-container">
        <a class="btn btn-black rounded-0" href="{% url 'products' %}">Check Out Our Great Products!</a>
    </div>
</div>
    {% endblock %}