{% extends "base.html" %}
{% load static %}

{% block extra_title %}Fairway Finds | Feedback{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container feedback">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center pt-4">Feedback</h1>
        </div>
        <div class="col-12">
            <div class="pt-3 text-center">
                <a href="{% url 'add_feedback' %}" class="btn btn-black rounded-0" aria-label="add-feedback">
                    Add Feedback
                </a>
            </div>
        </div>
    </div>
    <br>
    <div class="container mb-4">
        <div class="card-columns">
            {% for feedback in feedback_list  %}
            <div class="card my-3 feedback-bg border-0">
                <div class="text-center quote">
                    <i class="fas fa-quote-right"></i>
                </div>
                <div class="card-body">
                    {{ feedback.body }}
                </div>
                <div class="card-body">
                    <strong>{{ feedback.name }}</strong>
                    <br>
                    {{ feedback.created_on }}
                    {% if user.is_authenticated and feedback.name == user or user.is_superuser %}
                    <span class="align-self-end">
                        <small class="edit-delete-btns ">
                            <a href="{% url 'edit_feedback' feedback.id %}" >Edit</a> |
                            <a href="{% url 'delete_feedback' feedback.id %}">Delete</a>
                        </small>
                    </span>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="btt-button shadow-sm rounded-0 border-black">
    <div class="btt-link d-flex h-100">
        <i class="fas fa-arrow-up text-jet mx-auto my-auto"></i>
    </div>
</div>
{% endblock %}