{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'contact/css/contact.css' %}">
{% endblock %}

{% block extra_title %}Fairway Finds | Enquiry{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
{% load crispy_forms_tags %}

<div class="contact-container pb-5">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center pt-4"><strong>Make an Enquiry</strong></h1>
        </div>
    </div>
    <br>
    <div class="row justify-content-center ">
        <div class="col-11 col-md-8 col-lg-6 mt-3">
            <form method="post">
                {{ contact_form | crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-black rounded-0 text-uppercase">Submit</button>
                <a class="btn btn-white btn-outline-dark border-black rounded-0 m-2 text-uppercase" href="{%  url 'home' %}">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}